---
layout: default
title: Eric Conner
---

<div id="home">
  <h2>Projects</h2>

  <div style="margin-top: 10px;">
    <div style="float: left;">
      <img src="/images/yoga_studio.png" style="width: 50px;"/>
    </div>
    <div style="float: left; padding-left: 10px; width: 35em">
      <h4><a href="https://www.amazon.com/Snow-Labs-Yoga-Studio/dp/B0736DG4JM">Yoga Studio</a></h4>
      <span style="color: gray; font-size: 0.9em">Mid 2017</span><br/>
      An Alexa skill that instantly plays a random yoga class.
    </div>
    <div style="clear: both;"></div>
  </div>

  <div style="margin-top: 10px;">
    <div style="float: left;">
      <img src="/images/og_filedog.png" style="width: 50px;"/>
    </div>
    <div style="float: left; padding-left: 10px; width: 35em">
      <h4><a href="https://www.filedog.io/">FileDog</a></h4>
      <span style="color: gray; font-size: 0.9em">Early 2017</span><br/>
      Free, anonymous file uploads.
    </div>
    <div style="clear: both;"></div>
  </div>

  <div style="margin-top: 10px;">
    <div style="float: left;">
      <img src="/images/mantra_logo.jpg" style="width: 50px;"/>
    </div>
    <div style="float: left; padding-left: 10px; width: 35em">
      <h4><a href="/mantra.html">Mantra</a></h4>
      <span style="color: gray; font-size: 0.9em">November 2016</span><br/>
      A place for uplifting photos and quotes.<br/>
      This app is a social network that lets you post inspiring photos and quotes, and
      follow other users.
    </div>
    <div style="clear: both;"></div>
  </div>

  <div style="margin-top: 10px;">
    <div style="float: left;">
      <img src="/images/tinymantra_logo.jpg" style="width: 50px;"/>
    </div>
    <div style="float: left; padding-left: 10px; width: 35em">
      <h4><a href="/tiny-mantra.html">TinyMantra</a></h4>
      <span style="color: gray; font-size: 0.9em">June 2016</span><br/>
      The simplest way to keep track of all of your favorite sayings.<br/>
      This app was a precursor to Mantra and is very simple. It allows you to input
      a quote and then tap through each.
    </div>
    <div style="clear: both;"></div>
  </div>

  <div style="margin-top: 10px;">
    <div style="float: left;">
      <img src="/images/tinyalbum_logo.jpg" style="width: 50px;"/>
    </div>
    <div style="float: left; padding-left: 10px; width: 35em">
      <h4><a href="https://itunes.apple.com/us/app/tinyalbum/id1090702776?mt=8">TinyAlbum</a></h4>
      <span style="color: gray; font-size: 0.9em">March 2016</span><br/>
      Shoot an album of 3 photos and share it with friends!<br/>
      TinyAlbum shows your photos in a side scroller and lets you send a link to your album to friends. Every album has a unique link that you can use across the web.
    </div>
    <div style="clear: both;"></div>
  </div>

  <h2>Writing</h2>
  <ul class="posts" style="margin-bottom: 1em;">
  {% for post in site.categories.writing %}
    <li>
      <span class="post-date">[{{ post.date | date_to_string }}]</span>
      <span class="post-link">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </span>
    </li>
  {% endfor %}
  </ul>

  <h2>Notes</h2>
  <ul class="posts">
  {% for post in site.categories.notes %}
    <li>
      <span class="post-date">[{{ post.date | date_to_string }}]</span>
      <span class="post-link">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </span>
    </li>
  {% endfor %}
  </ul>

</div>
